@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about-review-slider {
    width: 944px !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destinationSlice {
  backface-visibility: unset !important;
}

.mySwiper [class^="swiper-button-"]::after {
  font-size: 30px;
  color: white;
}

/*======================
    404 page
=======================*/
.errorPageMain {
  background-color: #141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}

#handboy {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 98% 98%;
  transform-box: fill-box;
}

#girllight {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl {
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;
}

#zero {
  transform-origin: bottom;
  transform-box: fill-box;
}

/*************swing************/
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/*************swing hair************/
@keyframes swinghair {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

/*======================
    error page
=======================*/

.error_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

/* ===================================
RippleSpinner.css
 ===================================*/

@keyframes ldio-cuhtczo56nm {
  0% {
    top: 103.39px;
    left: 103.39px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 26.375px;
    left: 26.375px;
    width: 154.03px;
    height: 154.03px;
    opacity: 0;
  }
}

@keyframes ldio-cuhtczo56nm {
  0% {
    top: 103.39px;
    left: 103.39px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 26.375px;
    left: 26.375px;
    width: 154.03px;
    height: 154.03px;
    opacity: 0;
  }
}
.ldio-cuhtczo56nm div {
  position: absolute;
  border-width: 2.11px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-cuhtczo56nm 0.9174311926605504s cubic-bezier(0, 0.2, 0.8, 1)
    infinite;
}
.ldio-cuhtczo56nm div:nth-child(1) {
  border-color: #93dbe9;
  animation-delay: 0s;
}
.ldio-cuhtczo56nm div:nth-child(2) {
  border-color: #689cc5;
  animation-delay: -0.4587155963302752s;
}
.loadingio-spinner-ripple-rb4jmfu3pu {
  width: 211px;
  height: 211px;
  display: inline-block;
  overflow: hidden;
  background: #f3f4f6;
}
.ldio-cuhtczo56nm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cuhtczo56nm div {
  box-sizing: content-box;
}
